*,
*:after,
*:before {
   margin: 0;
   padding: 0;
   border: 0;
   box-sizing: border-box;
}
:focus,
:active {
   outline: none;
}
html,
body {
   height: 100%;
   scroll-behavior: smooth;

   /*ЗАПРЕТ ВЫДЕЛЕНИЯ ТЕКСТА*/
   -webkit-touch-callout: none; /* iOS Safari */
   -webkit-user-select: none; /* Chrome/Safari/Opera */
   -khtml-user-select: none; /* Konqueror */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */
   user-select: none;
}
aside,
nav,
footer,
header,
section {
   display: block;
}
a {
   text-decoration: none;
   color: #cccccc;
   display: block;
   transition: color 1s ease;
   cursor: pointer;
}
a:hover {

}
a:active {
   
}
button {
   background: none;
   border: none;
   cursor: pointer;
}
input {
   display: none;
}
input:hover,
input:focus {
   border-color: none;
}
input::placeholder {
   
}
input:placeholder-shown {
   
}
ul li {
   list-style: none;
}
img {
   vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
   font-family: "Montserrat", sans-serif;
   font-weight: normal;
   color: #fcfcfc;
}
body {
   font-family: "Montserrat", sans-serif;
   color: #fcfcfc;
   font-size: 1.25rem;
   font-weight: normal;
   line-height: 1.75rem;
   background: #333;
}

.wrapper {
   min-height: 100%;
   overflow: hidden;
}
.slider__container {
   /*max-width: 1440px;*/
   width: 90vw;
   margin: 0 auto;
   padding: 0 1.25rem;
}
.inputs {
}
.slider__input {
}
.slides {
   height: 80vh;
   border: 1px solid #cccccc;
   margin: 1.25rem 0;
   overflow: hidden;
}
.slides__track {
   width: 400%;
   height: 100%;
   display: flex;
   flex-direction: row;
}
#slide1:checked ~ .slides .slides__track{
   margin-left: 0;
}
#slide2:checked ~ .slides .slides__track{
   margin-left: -100%;
}
#slide3:checked ~ .slides .slides__track{
   margin-left: -200%;
}
#slide4:checked ~ .slides .slides__track{
   margin-left: -300%;
}
.slide {
   width: 25%;
   background-size: cover;
}
.slide1 {
   background: aqua;
}
.slide2 {
   background: antiquewhite;
}
.slide3 {
   background: aquamarine;
}
.slide4 {
   background: cadetblue;
}
.labels {
}
.label {
}
.dots {
   display: flex;

}
.dot{
   display: block;
   width: 0.25rem;
   height: 0.25rem;
   border-radius: 50%;
   background: #cccccc;
   margin: .5rem;
   padding: .5rem;
   cursor: pointer;
}